body {
  background-color: rgb(118, 112, 111);
  min-width: 55%;
  max-width: 850px;
  margin: 5% 10% 10% 20%;
  align-content: center;
}

div {
  max-width: 850px;
  padding: 2% 5% 2% 5%;
  margin: 10px;
  background-color: rgb(189, 216, 172);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  align-content: center;
}

form {
  align-content: center;
}

input{
  align-items: right;
}
p, h1 {
  width: 90%;
  padding: 2% 2% 2% 2%;
  margin: 5% 5% 5% 5%;
  align-content: center;
}
a {
  background-color: rgb(167, 244, 226);
  text-decoration: none;
  color: rgb(37, 87, 102);
  font-size: large;
  font-style: italic;
  font-variant: small-caps;
  border: 2px solid black ;
  margin: 2px;
  padding: 2px;
}

h1, h3 {
  text-decoration: none;
  color: rgb(161, 63, 172);
}