@{
  Layout = "_Layout";
}
<div>
  <h1>Pierre Supply, Welcome's  you to our Vendor Order !</h1>
  <h3><a href='/vendors'>View Vendors</a></h3>
  <h3><a href='/vendors/new'>Add a new Vendor</a></h3>
</div>