@{
  Layout = "_Layout";
}

<h1> Vendor Order Details:</h1>
<br>
<h2>@Model["order"].Title</h2>
<h3>Vendor: @Model["vendor"].Name</h3>
<br>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Will you like to place another Order?</a></p>
<p><a href='/vendors'>Back to Vendor </a></p>
<p><a href='/'>Back to Home Page</a></p>